*{
    margin: 0;
    font-size: 20px;
}
.nav-bar{
    display: flex;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
}
nav a:hover{
        text-decoration: underline;
        cursor: pointer;
}
.home{
    background : green;   
}
.style{
    padding: 25px;
    
}
.box{
    display: flex;
    justify-content: center;
    background-color: #3a3a7e;
}
.form{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    text-align: center;
    justify-content: center; 
    margin: 100px;
    height: 400px;
    width: 50%;
    background-color: #1a2937;
}
label{
    display: block;
    font-size: 30px;
    width: 150px;
    padding: 14px;
}
input{
    font-size: 15px;
    padding: 10px 26px;
    border: 2px solid black;
    border-radius: 4px;
}
.btn{
    padding: 4px 8px;
    border: 2px solid black;
    border-radius: 4px;
}
.btn:hover{
    cursor: pointer;
    background-color: blue;
    color: red;
}